body, html {
    height: 100%;
    margin: 0;
    /* background: #7F7FD5;
   background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
    /* background: #eee; */
    background: -moz-linear-gradient(318deg, #99DAFF 0%, #008080 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #99DAFF), color-stop(100%, #008080)); /* safari4+,chrome */
    background: -webkit-linear-gradient(318deg, #99DAFF 0%, #008080 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(318deg, #99DAFF 0%, #008080 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(318deg, #99DAFF 0%, #008080 100%); /* ie10+ */
    background: linear-gradient(132deg, #99DAFF 0%, #008080 100%); /* w3c */
    /* background-image: linear-gradient(to right bottom, #11cb0a, #33a900, #398800, #366900, #2e4c00); */
    /* background-image: linear-gradient(to right bottom, #80e07c, #92e17c, #a3e37e, #b1e480, #bfe584); */
}

/*Bootstrap overrides */
.mb-4 {
    margin-bottom: 0.5rem !important;
}

/*****************************/
.container {
    width: 100vw !important;
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    height: 15%;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    /* border-top: 0 !important; */
    -webkit-box-shadow: 0px -2px 9px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -2px 9px -1px rgba(0,0,0,0.75);
box-shadow: 0px -2px 9px -1px rgba(0,0,0,0.75);
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 40px !important;
    overflow-y: auto;
}

.type_msg:focus {
    /* box-shadow: none !important; */

    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn:hover{
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
background-color: rgba(19, 255, 30, 0.692) !important;
}
.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 0px 10px;
    margin-bottom: 5px !important;
    border:1px solid rgba(73, 73, 73, 0.411);
}
.contacts li:hover {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
background-color: rgba(3, 3, 3, 0.404);
cursor: pointer;
}
.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;

}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;

}

.img_cont {
    position: relative;
    height: 50px;
    width: 47px;
}

.img_cont img {
    position: relative;
    top: 5px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1px;
}

.user_info span {
    font-size: 17px;
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: #82ccdd;
    padding: 6px;
    position: relative;
    font-size: 0.8em;
}

.msg_cotainer p, .msg_cotainer_send p {
    margin-top: -4px;
    margin-bottom: 0rem;
}

.msg_cotainer_send {
    margin-top: 10px;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #78e08f;
    padding: 6px;
    position: relative;
    font-size: 0.8em;
    min-width: 20px !important;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    min-width: max-content;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    min-width: max-content;
}

.user_name {
    position: relative;
    left: 0px;
    top: -2px;
    color: rgb(22, 10, 10);
    font-size: 12px;
    font-weight: 700;
    /* margin:3px; */
}

.msg_head {
    position: relative;
    /* border-bottom: 1px solid #747474 !important; */
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
}

#action_menu_btn_left {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu_left {
    z-index: 1;
    position: absolute;
    padding: 8px 0;
    background-color: rgba(255, 255, 255, 0.94);
    color: rgba(16, 16, 16, 0.89);
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
    -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
}

.action_menu_left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu_left ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu_left ul li i {
    padding-right: 10px;

}

.action_menu_left ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}



#action_menu_btn_right {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu_right {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu_right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu_right ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu_right ul li i {
    padding-right: 10px;

}

.action_menu_right ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}