
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body {
    padding-bottom: 30px;
    position: relative;
    min-height: 100%;
}

_before {
    background: #fef7f2;
    content: '';
    width: 250px;
    height: 350px;
    display: block;
    border-bottom-left-radius: 90px;
    position: fixed;
    overflow: hidden;
    transition: all 0.5s ease;
}

.side-memnu {
    margin-top: 40px;
}

li.active a {
    color: #EF6C00 !important;
}

li.active svg {
    fill: #EF6C00 !important;
}

.section-side-div {
    position: absolute;
    top: 0;
}

a {
    transition: background 0.2s, color 0.2s;
}

a:hover,
a:focus {
    text-decoration: none;
}

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;

}

#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #fff;
    transition: all 0.5s ease;
    z-index: 3;
}

aside#sidebar-wrapper:hover {
    overflow-y: auto;
    overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

ul.sidebar-nav li.active:before {
    content: '';
    display: block;
    border-right: 5px solid #fdcf7d;
    width: 3px;
    height: 29px;
    position: absolute;
    left: 0;
    font-weight: 800;
}

.sidebar-brand h2 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    text-decoration: none;
}

.user-img {
    width: 100%;
    height: auto;
}

.user-icon img {
    width: 80px;
}

.user-text {
    text-align: center;
    margin-top: 10px;
}

i.user-icon-status {
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 4px;
    border-radius: 50%;
    background: #8bc34a;
}

.user-text p {
    font-size: 14px;
}

.user-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 2px 20px -5px #EC407A;
}


/*----------------toggled css----------------*/
.toggled .user-icon {
    width: 40px;
    height: 40px;
}

.toggled .side-memnu {
    margin-top: -19px;
}

.toggled .sidebar-brand {
    display: none;
}

.toggled .user-icon img {
    width: 40px;
}

.toggled .user-text {
    display: none;
}

.toggled .user-img {
    height: 95px;
}

.toggled .section-side-div {
    position: unset;
    top: 0;
}

.toggled aside#sidebar-wrapper:before {
    display: none;
}

.toggled ul.sidebar-nav li {
    padding-left: 8px;
}

.toggled ul.sidebar-nav span {
    opacity: 0;
}

.sidebar-nav {
    /* position: absolute;
    top: 75px; */
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav > li {
    text-indent: 10px;
    line-height: 42px;
}

.sidebar-nav > li a {
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
}

.fas-drop {
    font-size: 1.3rem !important;
    font-weight: 800 !important;
    position: absolute;
    right: 0;
}

ul.sidebar-nav li {
    margin: 10px 0;
    padding: 15px 0;
    padding-left: 24px;
    border-radius: 0 24px 24px 0;
    padding-right: 24px;
    position: relative;
    overflow: hidden;
}

.menu-aside-1 {
    padding-top: 4em;
}

ul.sidebar-nav svg {
    width: 34px;
}

.toggled ul.sidebar-nav svg {
    width: 50px;
}

ul.sidebar-nav li:hover {
    background-color: rgba(80, 80, 80, 0.05);
    border-radius: 50px;
}

.sidebar-nav > li > a i.fa {
    /* font-size: 24px; */
    width: 60px;
}

ul.dropdown-ul li {
    list-style-type: none;
    padding-left: 20px;
}

.user-text h4 {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    white-space: nowrap;
    margin-bottom: 0;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 800;
}

ul.dropdown-ul li {
    padding: 0;
    line-height: 32px;
    margin-left: 10px;
}

ul.dropdown-ul {
    margin-top: 15px;
    display: none;
}

ul.dropdown-ul1 {
    margin-top: 15px;
    display: none;
}

ul.dropdown-ul2 {
    margin-top: 15px;
    display: none;
}

ul.dropdown-ul.dropdown-ul-n a {
    padding-left: 19px;
    color: rgba(0, 0, 0, 0.87);
}

ul.dropdown-ul li a {
    font-size: 0.875rem;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    line-height: 1.43;
}

ul.dropdown-ul1 li a {
    font-size: 0.875rem;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.87);
}

ul.dropdown-ul2 li a {
    font-size: 0.875rem;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.87);
}

ul.dropdown-ul1 li {
    padding: 0;
    line-height: 32px;
    margin-left: 10px;
}

ul.dropdown-ul2 li {
    padding: 0;
    line-height: 32px;
    margin-left: 10px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}

.navbar-s-k {
    border-width: 0 0 0 0;
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
    /* box-shadow: 0px 1px 8px 0px rgba(80,80,80, 0.2), 0px 3px 4px 0px rgba(80,80,80, 0.14), 0px 3px 3px -2px rgba(80,80,80, 0.12); */
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    z-index: 2 !important;
}

.navbrand-bar {
    background: #fff;
    width: 40px;
    height: 40px;
    color: #EF6C00;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-shadow: 0 2px 40px -5px #EF6C00;
    top: 14px;
    margin-left: -22px;
    z-index: 3;
}

.navbrand-bar:hover {
    color: #EF6C00;
}

#navbar-wrapper .navbar a:hover {
    color: #F8BE12;
}

#content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top: 100px;
}

#wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 60px;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 64px;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -190px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -190px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 60px;
    }

    #content-wrapper {
        position: relative;
        top: 5em;
        margin-bottom: 5em;

    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
        padding-left: 60px;
    }

    #sidebar-wrapper {
        width: 60px;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 250px;
    }
}

@media (max-width: 767px) {
    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 250px;
    }
}

.result_hover {
    width: 250px !important;

}

.toggled a#sidebar-toggle {
    left: 30px;
}

aside#sidebar-wrapper .sidebar-nav span {
    opacity: 1 !important;
}

.result_hover .user-text {
    display: block;
}

.result_hover #sidebar-wrapper:before {
    display: block;
}

ul.ul-nav-right-icon li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

ul.ul-nav-right-icon {
    margin-bottom: 0;
    padding-left: 0;
}

.jss2611.jss2598 svg {
    fill: #fff;
}

ul.ul-nav-right-icon svg {
    fill: #fff;
}

ul.ul-nav-right-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-toggle1::after {
    display: none;
}

.dropdown-menu.dropdown-s-k.show {
    left: -80px;
}

ul.ul-nav-right-icon.d-flex sup {
    height: 20px;
    display: flex;
    padding: 0 6px;

    position: relative;
    left: -6px;
    font-size: 0.75rem;
    min-width: 20px;
    box-sizing: border-box;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    line-height: 1;
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    background-color: #9C27B0;
    top: -8px;
}

.navbar-wrapper-bg {
    height: 400px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    /* background-image: linear-gradient(-45deg, #EF6C00 0%, #EF6C00 33%, #9C27B0 100%); */
    /* background-image: linear-gradient(-45deg, #2b163c 0%, #771e10 33%, #9C27B0 100%); */
    background-image: linear-gradient(-45deg, rgba(3, 1, 76, 1) 0%, rgba(3, 1, 76, 1) 33%, rgba(154, 0, 0, 1) 100%);

    /*background-attachment: fixed;*/
}

.navbar-wrapper-bg.bg-2 {
    background-image: linear-gradient(-45deg, rgba(154, 0, 0, 1) 0%, rgba(154, 0, 0, 1) 33%, rgba(3, 1, 76, 1) 100%);
}


/* linear-gradient(to bottom, rgba(3,1,76,1) 0%, rgba(154,0,0,1) 100%); */
.navbar-wrapper-bg img {
    position: absolute;
    bottom: -62px;
}

.toggled .user-img {
    display: flex;
    align-items: center;
}

.toggled .user-icon {
    margin: 0;
    margin-left: 16px;
}

.toggled .user-text {
    padding-left: 15px;
}

.toggled .navbar-s-k {
    width: 100%;
    /* background-image: linear-gradient(-45deg, #EF6C00 0%, #EF6C00 33%, #9C27B0 100%) !important; */
    /* box-shadow: 0px 1px 8px 0px rgba(80,80,80, 0.2), 0px 3px 4px 0px rgba(80,80,80, 0.14), 0px 3px 3px -2px rgba(80,80,80, 0.12); */
    background-attachment: fixed;
}

.container-div {
    padding-left: 15px;
    padding-right: 15px;
}

div#main-slider img {
    width: 100%;
}

div#main-slider .owl-nav {
    position: absolute;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    top: 35%;
}

/*.h-s {*/
/*    height: 269px !important;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

div#main-slider .owl-prev {
    background: unset;
    font-size: 30px;
    color: #808387;
}

div#main-slider .owl-next {
    background: unset;
    font-size: 30px;
    color: #808387;
}

nav.scroll1 {
    background-color: red;
    color: #eef;
}

/* .result_hover .user-img {
  display: flex;
} */
li.nav-item.dropdown.p-0 {
    margin-left: -8px;
}

.scrolled1 {
    /* background-image: linear-gradient(-45deg, #EF6C00 0%, #EF6C00 33%, #9C27B0 100%) !important; */
    background-image: linear-gradient(-45deg, rgba(3, 1, 76, 1) 0%, rgba(3, 1, 76, 1) 33%, rgba(154, 0, 0, 1) 100%);
    box-shadow: 0px 1px 8px 0px rgba(80, 80, 80, 0.2), 0px 3px 4px 0px rgba(80, 80, 80, 0.14), 0px 3px 3px -2px rgba(80, 80, 80, 0.12);
    background-attachment: fixed;
}

/* .slider-sak .carousel-item {
  position: relative;
  overflow: hidden;
} */


@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: both
}

/* .animatedFadeInUp {
  opacity: 0
} */

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.7s
}

.bounceDown {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.1s
}

.bounceInLeft {

    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    animation-delay: 0.4s

}


.modal-dialog.rfq-modal {
    max-width: 100%;
    margin: 0;
}

.modal-dialog.rfq-modal {
    width: 100%;
    max-width: 100%;
    margin: 0;
}


.modal-header.rfq-header h1 {
    font-size: 20px;
    color: #FFE;
}


.nav-tabs .nav-item {
    margin-bottom: -1px;
    padding: 10px 20px;
}

ul#myTab a {
    text-transform: capitalize;
    color: #00000073;
    font-weight: 500;
    font-size: 15px;
}


.head-prod-img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.head-prod-icon h6 {
    font-weight: 600;
    padding-left: 10px;
    font-size: 18px;
}

.update-img button {
    background: unset;
    border: unset;
}

.update-img .fas {
    font-size: 28px;
}

.user-like-icon .fa-heart {
    font-size: 22px;
}

.review-like {
    text-align: center;
    float: left;
}


.notebook-user .fa-address-book {
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
}


.btn:focus {
    outline: none !important;
}


.side-menu-prod-img {
    background-image: linear-gradient(-45deg, rgba(3, 1, 76, 1) 0%, rgba(3, 1, 76, 1) 33%, rgba(154, 0, 0, 1) 100%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.side-menu-icon-img img {
    width: 35px;
}


.side-menu-icon-img h6 {
    color: #361e3b;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 0;
}


.main-sec-slider-1 .owl-nav {
    margin-top: 10px;
}


.main-sec-slider-1 {
    /* height: 350px; */
    /* position: relative;
    overflow: hidden; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.owl-slider .owl-nav {
    display: block !important;
}

.owl-slider .owl-next {
    right: 0 !important;
    position: absolute;

}

.owl-slider .owl-prev {
    left: 0 !important;
    position: absolute;

}

.fas-s {
    color: gray;
    font-size: 16px;
    margin-top: 10px;
}


/* .main-2-div .carousel-inner {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */

.head-prod-img.main-2-img img {
    width: 40px;
    height: 40px;
}

.head-prod-icon.d-flex.align-items-center.main-2-h6 h6 {
    font-size: 14px;
    padding-left: 0;
}

.update-img.main-2-fas .fas {
    font-size: 18px;
}

.user-like-icon.main-2-like .far {
    font-size: 18px;
}


/* .main-2-div .slick-dots {
    bottom: -4px;
} */


.buttons {
}

.operators {
}

.operators div {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 60px;
    text-align: center;
    padding: 0px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}

.operators div:active {
    font-weight: bold;
}


.numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 60px;
    text-align: center;
    padding: 0px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}

.numbers div:active {
    font-weight: bold;
}


@media only screen and (min-width: 1601px) {
    .container-1 {
        max-width: 1568px
    }

}

@media only screen and (min-width: 1441px) and (max-width: 1600px) {
    .container-1 {
        width: 1290px
    }

}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .container-1 {
        width: 1170px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .container-1 {
        width: 1170px
    }

    ._before {
        display: none;
    }
}

@media only screen and (max-width: 479px) {
    ._before {
        display: none;
    }
}
