<!DOCTYPE html>
<html class=''>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel="stylesheet" href="assets/css/chat/main.css">
    </link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon"
          href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico"/>
    <link rel="mask-icon" type=""
          href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
          color="#111"/>
    <link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
          type='text/css'>
    <link href="../../assets/css/bootstrap-multiselect.css" rel="stylesheet">
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>

    <script src="assets/js/custom/utils/user_detail.js"></script>


    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../assets/css/mdb.min.css">
</head>
<body>

<div id="frame">

    <div id="sidepanel">
        <div class="container-fluid">
            <div class="row">
                <div class="col mx-auto text-center ">
                    <a href="/dashboard" class="  btn btn-primary">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;<span
                            class="d-none d-md-inline-block">Go to dashboard</span></a>
                </div>
            </div>

        </div>
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt=""/>
                <p id="user_name"></p>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span>
                            <p>Online</p>
                        </li>
                        <li id="status-away"><span class="status-circle"></span>
                            <p>Away</p>
                        </li>
                        <li id="status-busy"><span class="status-circle"></span>
                            <p>Busy</p>
                        </li>
                        <li id="status-offline"><span class="status-circle"></span>
                            <p>Offline</p>
                        </li>
                    </ul>
                </div>
                <div id="expanded">
                    <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mikeross"/>
                    <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="ross81"/>
                    <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mike.ross"/>
                </div>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..."/>
        </div>
        <div id="contacts">
            <ul id="list">
                <!--                <li class="contact">-->
                <!--                    <div class="wrap">-->
                <!--                        <span class="contact-status online"></span>-->
                <!--                        <img src="http://emilcarlsson.se/assets/louislitt.png" alt=""/>-->
                <!--                        <div class="meta">-->
                <!--                            <p class="name">Louis Litt</p>-->
                <!--                            &lt;!&ndash;                            <p class="preview">You just got LITT up, Mike.</p>&ndash;&gt;-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </li>-->
                <!--                <li class="contact active">-->
                <!--                    <div class="wrap">-->
                <!--                        <span class="contact-status away"></span>-->
                <!--                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>-->
                <!--                        <div class="meta">-->
                <!--                            <p class="name">Harvey Specter</p>-->
                <!--                            &lt;!&ndash;                            <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their&ndash;&gt;-->
                <!--                            &lt;!&ndash;                                bluff. Or, you do any one of a hundred and forty six other things.</p>&ndash;&gt;-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </li>-->
            </ul>
        </div>
        <div id="bottom-bar">
            <button id="personal_chat" class="tab-btn active-tab" onclick="loadDefaultData()"><i class="fa fa-user"
                                                                                                 aria-hidden="true"></i>
                <span>Personal Chat</span>
            </button>
            <button id="group_chat" class="tab-btn" onclick="loadGroupData()"><i class="fa fa-users"
                                                                                 aria-hidden="true"></i> <span>Group Chat</span>
            </button>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
            <p id="tab-name"></p>
            <div class="social-media ">
                <i class="fa fa-bell edit" title="Pending approvals for Uploads"
                   onclick="loadNotificationModal(this.id)" data-toggle="modal" data-target="#notificationModal"
                   aria-hidden="true"></i>
                <i class="fa fa-plus edit" onclick="loadAddMemberModal(this.id)" data-toggle="modal" data-target="#addMemberModal"
                   title="Add new members" aria-hidden="true"></i>
            </div>
        </div>
        <div class="messages">
            <ul id="conversation">
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input type="text" class="text_box" placeholder="Write your message..."/>
                <i class="fa fa-paperclip attachment" id="attachment" data-toggle="modal" data-target="#attachmentModal"
                   aria-hidden="true"></i>
                <button class="submit "><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- Notification Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModal"
     aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body notification_list">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Sender</th>
                            <th scope="col">Documents uploaded</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="notifications">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Notification Modal -->
<!-- Add member modal -->
<div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add members</h4>
            </div>
            <div class="modal-body mx-3">
                <div class="form-row mb-4 ">
                    <div class="col d-flex justify-content-center" id="member-select">

                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default" onclick="return addNewMember()">Done</button>
            </div>
        </div>
    </div>
</div>
<!-- Add member modal -->
<!-- Attachment Modal -->
<div class="modal fade bottom" id="attachmentModal" tabindex="-1" role="dialog" aria-labelledby="attachmentModal"
     aria-hidden="true">
    <div class="modal-dialog modal-frame modal-bottom" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="ml-auto input-group col-sm-12 col-md-6">
                        <form enctype="multipart/form-data" method="POST" onsubmit="return upload()">
                            <div class=" custom-file">
                                <input type="file" name="media" class="form-control-file custom-file-input"
                                       id="fileUpload" onchange="upload()" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG,.gif,.GIF,.pdf,.docx,.doc"
                                       aria-describedby="inputGroupFileAddon01" multiple>
                                <label class="custom-file-label" for="fileUpload">Choose file</label>
                            </div>
                            <!-- <button class="ml-auto form-control-file btn btn-primary" type="submit">Submit</button> -->
                        </form>
                    </div>
                    <!--                    <i class="attachment_icons fa fa-times-circle ml-auto fa-3x" data-dismiss="modal"></i>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Attachment Modal -->


<script
        src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

<script src="/socket.io/socket.io.js"></script>

<!-- jQuery -->
<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../assets/js/mdb.min.js"></script>
<script src="../../assets/js/bootstrap-multiselect.js"></script>

<script src="assets/js/custom/chat/personal_chat.js"></script>
<script>$(".messages").animate({scrollTop: $(document).height()}, "fast");

$("#profile-img").click(function () {
    $("#status-options").toggleClass("active");
});

$(".expand-button").click(function () {
    $("#profile").toggleClass("expanded");
    $("#contacts").toggleClass("expanded");
});

$("#status-options ul li").click(function () {
    $("#profile-img").removeClass();
    $("#status-online").removeClass("active");
    $("#status-away").removeClass("active");
    $("#status-busy").removeClass("active");
    $("#status-offline").removeClass("active");
    $(this).addClass("active");

    if ($("#status-online").hasClass("active")) {
        $("#profile-img").addClass("online");
    } else if ($("#status-away").hasClass("active")) {
        $("#profile-img").addClass("away");
    } else if ($("#status-busy").hasClass("active")) {
        $("#profile-img").addClass("busy");
    } else if ($("#status-offline").hasClass("active")) {
        $("#profile-img").addClass("offline");
    } else {
        $("#profile-img").removeClass();
    }
    ;
    $("#status-options").removeClass("active");
});
</script>
<script></script>
</body>

</html>